
body, html {
    height: 100%;
    font-family: 'Catamaran', sans-serif;
}

h1 {
    color: blue;
}

a {
    text-decoration: none;
    color:black;
}

a:active {
    color: purple;
}

li {
    display: inline;
    list-style-type: none;
}

nav {
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

.footer-links {
    color: #37096e;
} 
