
html, body {
    height: auto;
    width: 100%;
    margin: 0;    
}

header, body, footer {
    font-family: 'Catamaran', sans-serif;
}

h1 {
    color: purple;;
    font-size: 3em;
    text-align: center;   
}

a {
    text-decoration: none;
    color: black;
}

aside {
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    font-style: italic;
}

.active {
    color: purple;
    font-weight:bold;
}

nav {
    background-color: white;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}

.nav-bar {
    padding: 0;
    margin: 20px auto;
}

.nav-bar li {
    border: 0.5px solid #37096e;
    border-radius: 32px;
    display: inline;
    list-style-type: none;
    margin: auto 20px;
    padding: 8px;
}

.nav-bar li:hover {
    background-color:hsl(300, 82%, 85%);
    border: 0.5px solid #4b58cd;
    border-radius: 32px;
    display: inline;
    list-style-type: none;
    margin: auto 20px;
    padding: 8px;
}

footer {
    background-color: white;
    padding: 5px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }

.contact-form {
    margin: auto;
    text-align: center;
    }

.float-container {   
    display: flex;
    justify-content: center;
}

.float-child {
    width: 25%;
    float: left;
    padding: 20px;
    }  

.footer-links {
    color: #37096e;
}  

.lp-titles {
    margin-top: 150px;
    text-align: center;    
}

.contact-titles {
    text-align: center;
}


.main-section {
    margin: 150px auto 40px;
    max-width: 90%;
}

.round-image {
    border-radius: 100%;
    border: 1px solid rgba(128, 128, 128, 0.235);

}

.table-section {
    margin: auto 100px;
}

